@model FelveteliFeladat.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FoundationYear)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FoundationYear)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.NumberOfChampionshipWins)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.NumberOfChampionshipWins)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IsPayedTheEntryFee)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsPayedTheEntryFee)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
